<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Sergey Pozhilov (GetTemplate.com)">



    <title>About page | Initio - Free, multipurpose html5 template by GetTemplate</title>

    <link rel="shortcut icon" href="assets/images/gt_favicon.png">

    <!-- Bootstrap -->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.no-icons.min.css" rel="stylesheet">
    <!-- Icon font -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <!-- Fonts -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Alice|Open+Sans:400,300,700">
    <!-- Custom styles -->
    <link rel="stylesheet" href="/src/styles.css">


    <!--[if lt IE 9]> <script src="assets/js/html5shiv.js"></script> <![endif]-->
</head>

<body>

    <header id="header">
        <div id="head" class="parallax" parallax-speed="1">
            <h1 id="logo" class="text-center">
                <span style="color: rgb(255, 255, 255);" class="title">Camilo Eduardo Bellnavis.</span>
                <span style="color: rgb(255, 255, 255);font-size: large;" class="tagline">Desarrollador FullStack<br>
				<a style="color: rgb(255, 255, 255);"href="">camilonavis@hotmail.com</a></span>
            </h1>
        </div>

        <nav class="navbar navbar-default">
            <div class="container-fluid">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                </div>

                <div class="navbar-collapse collapse">

                    <ul style="font-weight: bold;font-family: Helvetica Neue,Helvetica,Arial,sans-serif ;" class="nav navbar-nav">
                        <li><a [routerLink]="['/home']">Inicio</a></li>
                        <li><a [routerLink]="['/about']">Acerca de mi</a></li>
                        <li class="active"><a [routerLink]="['/proyectos']">Mis proyectos</a></li>
                    </ul>

                </div>
                <!--/.nav-collapse -->
            </div>
        </nav>
    </header>

    <main id="main">



        <div class="thumbnails recentworks row">
            <h2 style="font-weight: bold;" class="section-title"><span>Algunas de mis participaciones</span></h2>

            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <a class="thumbnail" href="https://pokedexbellnavis.netlify.app/">
                    <span class="img">
                    <img src="/assets/images/pokedex.png" alt="">
                    <span  class="cover"><span url class="more">Ver más &rarr;</span></span>
                    </span>
                    <span class="title">POKEDEX ANGULAR | CULMINADO</span>
                </a>

                <h4></h4>
                <p></p>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <a class="thumbnail" href="https://appcandidatos.netlify.app/">
                    <span class="img">
                    <img src="/assets/images/candidatos.png" alt="">
                    <span class="cover"><span class="more">Ver más &rarr;</span></span>
                    </span>
                    <span class="title">CANDIDATOSBLOG |CULMINADO</span>
                </a>

                <h4></h4>
                <p></p>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <a class="thumbnail" href="https://appaeropuerto.netlify.app/">
                    <span class="img">
                    <img src="assets/images/aeropuerto.png" alt="">
                    <span class="cover"><span class="more">Ver más &rarr;</span></span>
                    </span>
                    <span class="title">VUELOSAPP | CULMINADO</span>
                </a>

                <h4></h4>
                <p></p>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <a class="thumbnail">
                    <span class="img">
                    <img src="assets/images/ac.png" alt="">
                    <span class="cover"><span class="more">Ver más &rarr;</span></span>
                    </span>
                    <span class="title">Arroz del Cielo | CULMINADO</span>
                </a>

                <h4></h4>
                <p></p>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <a class="thumbnail" href="https://appfacturacion.netlify.app/">
                    <span class="img">
                    <img src="assets/images/ventas.png" alt="">
                    <span class="cover"><span class="more">Ver más &rarr;</span></span>
                    </span>
                    <span class="title">VENTASAPP | CULMINADO</span>
                </a>

                <h4></h4>
                <p></p>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <a class="thumbnail" href="https://logistrip.co/">
                    <span class="img">
                    <img src="assets/images/logis.png" alt="">
                    <span class="cover"><span class="more">Ver más &rarr;</span></span>
                    </span>
                    <span class="title">LOGISTRIP | CULMINADO</span>
                </a>

                <h4></h4>
                <p></p>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <a class="thumbnail">
                    <span class="img">
                    <img src="assets/images/crm.png" alt="">
                    <span class="cover"><span class="more">Ver más &rarr;</span></span>
                    </span>
                    <span class="title">WISECRM | EN CURSO</span>
                </a>

                <h4></h4>
                <p></p>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <a class="thumbnail">
                    <span class="img">
                    <img src="assets/images/andro.png" alt="">
                    <span class="cover"><span class="more">Ver más &rarr;</span></span>
                    </span>
                    <span class="title">ANDROMEDA COMPANY | CULMINADO</span>
                </a>

                <h4></h4>
                <p></p>
            </div>
        </div>



    </main>

    <footer style="margin-top: 30px;" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 widget">
                    <h3 style="font-size: larger;" class="widget-title">Contact</h3>
                    <div class="widget-body">
                        <p style="font-size: medium;">+57 318 542 3769<br>
                            <a href="mailto:#">camilonavis@hotmail.com</a><br>

                        </p>
                    </div>
                </div>


                <div class="col-md-3 widget">

                </div>

                <div class="col-md-3 widget">

                </div>
                <div class="col-md-3 widget">
                    <p style="font-size: large;" class="widget-title">Follow me</p>
                    <div class="widget-body">
                        <p class="follow-me-icons">
                            <a href="https://github.com/camilobellnavis"><i class="fa fa-github fa-2 zoomicon"></i></a>
                            <a href="https://www.linkedin.com/in/camilo-bellnavis-475a78139/"><i class="fa fa-linkedin fa-2 zoomicon"></i></a>
                        </p>
                    </div>
                </div>

            </div>
            <!-- /row of widgets -->
        </div>
    </footer>

    <footer id="underfooter">
        <p style="text-align: center;">Cali - Valle del Cauca. All rights reserved</p>
    </footer>



    <!-- JavaScript libs are placed at the end of the document so the pages load faster -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="assets/js/template.js"></script>


</body>

</html>