<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Sergey Pozhilov (GetTemplate.com)">

    <title>Initio - Free, multipurpose html5 template by GetTemplate</title>

    <link rel="shortcut icon" href="assets/images/gt_favicon.png">

    <!-- Bootstrap -->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.no-icons.min.css" rel="stylesheet">
    <!-- Icons -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <!-- Fonts -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Alice|Open+Sans:400,300,700">
    <!-- Custom styles -->
    <link rel="stylesheet" href="/src/styles.css">


    <!--[if lt IE 9]> <script src="assets/js/html5shiv.js"></script> <![endif]-->
</head>

<body class="home">

    <header id="header">
        <div style="height: 400px;" id="head" class="parallax" parallax-speed="2">
            <h1 id="logo" class="text-center">
                <span style="color: rgb(255, 255, 255);" class="title">Camilo Eduardo Bellnavis.</span>
                <span style="color: rgb(255, 255, 255);font-size: large;" class="tagline">Desarrollador FullStack<br>
                        <a style="color: rgb(255, 255, 255);"href="">camilonavis@hotmail.com</a></span>
                <img style="height: 190px; width: 180px;" class="img-circle" src="assets/images/guy.jpg" alt="">



            </h1>
        </div>

        <nav class="navbar navbar-default">

            <div class="container-fluid">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                </div>

                <div class="navbar-collapse collapse">

                    <ul style="font-weight: bold;font-family: Helvetica Neue,Helvetica,Arial,sans-serif ;" class="nav navbar-nav">
                        <li class="active"><a [routerLink]="['/home']">Inicio</a></li>
                        <li><a [routerLink]="['/about']">Acerca de mi</a></li>
                        <li><a [routerLink]="['/proyectos']">Mis proyectos</a></li>
                    </ul>

                </div>
                <!--/.nav-collapse -->
            </div>
        </nav>
    </header>

    <main id="main">

        <div class="container">

            <div class="row section topspace">
                <div class="col-md-12">
                    <p class="lead text-center text-muted">
                        Soy un desarrollador fullstack con 5 años de experiencia en el campo de la tecnología. Mi pasión por la programación me ha llevado a dominar tanto el desarrollo frontend como el backend, lo que me permite crear aplicaciones web completas y funcionales
                        desde cero. He trabajado en una variedad de proyectos, desde aplicaciones de comercio electrónico hasta sistemas de gestión empresarial, lo que me ha dado una amplia visión de las necesidades tecnológicas de diferentes industrias.
                    </p>
                </div>
            </div>
            <!-- / section -->

            <div class="row section featured topspace">
                <h2 style="font-weight: bold;" class="section-title"><span>Tecnologias que domino:</span></h2>
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <h3 style="color: #999;" class="text-center">Front-End<i class="fa fa-code"></i> </h3>
                        <p class="zoomicon" style="text-align: center;"><img src="assets/images/angular.png" style="height: 50px; width: 50px;"></p>
                        <p class="zoomicon" style="text-align: center;"><img src="assets/images/html.png" style="height: 50px; width: 50px;"></p>
                        <p class="zoomicon" style="text-align: center;"><img src="assets/images/css3.png" style="height: 50px; width: 50px;"></p>
                        <p class="zoomicon" style="text-align: center;"><img src="assets/images/javas.png" style="height: 50px; width: 50px;"></p>
                        <p class="zoomicon" style="text-align: center;"><img src="assets/images/boos.png" style="height: 50px; width: 50px;"></p>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <h3 style="color: #999;" class="text-center">Back-End<i class="fa fa-tasks"></i></h3>
                        <p class="zoomicon" style="text-align: center;"><img src="assets/images/core.png" style="height: 60px; width: 60px;"></p>
                        <p class="zoomicon" style="text-align: center;"><img src="assets/images/mvc.png" style="height: 60px; width: 60px;"></p>
                        <p class="zoomicon" style="text-align: center;"><img src="assets/images/api.png" style="height: 60px; width: 60px;"></p>
                        <p class="zoomicon" style="text-align: center;"><img src="assets/images/wp.png" style="height: 60px; width: 60px;"></p>

                    </div>
                    <div class="col-sm-6 col-md-3">
                        <h3 style="color: #999;" class="text-center">Bases de Datos<i class="fa fa-sitemap"></i></h3>
                        <p class="zoomicon" style="text-align: center;"><img src="assets/images/sql.png" style="height: 70px; width: 70px;"></p>
                        <p class="zoomicon" style="text-align: center;"><img src="assets/images/mysql.png" style="height: 70px; width: 70px;"></p>
                        <p class="zoomicon" style="text-align: center;"><img src="assets/images/mongo.png" style="height: 70px; width: 70px;"></p>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <h3 style="color: #999;" class="text-center">Otros<i class="fa fa-cog"></i></h3>
                        <p class="zoomicon" style="text-align: center;"><img src="assets/images/git.png" style="height: 50px; width: 100px;"></p>
                        <p class="zoomicon" style="text-align: center;"><img src="assets/images/post.svg" style="height: 60px; width: 60px;"></p>
                        <p class="zoomicon" style="text-align: center;"><img src="assets/images/talend.png" style="height: 60px; width: 60px;"></p>
                        <p class="zoomicon" style="text-align: center;"><img src="assets/images/azure.png" style="height: 50px; width: 150px;"></p>

                    </div>
                </div>
            </div>
            <!-- / section -->

            <div class="row section recentworks topspace">

                <h2 class="section-title"><span>Mis Proyectos:</span></h2>

                <div class="thumbnails recentworks row">

                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <a class="thumbnail" href="https://pokedexbellnavis.netlify.app/">
                            <span class="img">
							<img src="/assets/images/pokedex.png" alt="">
							<span  class="cover"><span url class="more">Ver más &rarr;</span></span>
                            </span>
                            <span class="title">POKEDEX ANGULAR | CULMINADO</span>
                        </a>

                        <h4></h4>
                        <p></p>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <a class="thumbnail" href="https://appcandidatos.netlify.app/">
                            <span class="img">
							<img src="/assets/images/candidatos.png" alt="">
							<span class="cover"><span class="more">Ver más &rarr;</span></span>
                            </span>
                            <span class="title">CANDIDATOSBLOG |CULMINADO</span>
                        </a>

                        <h4></h4>
                        <p></p>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <a class="thumbnail" href="https://appaeropuerto.netlify.app/">
                            <span class="img">
							<img src="assets/images/aeropuerto.png" alt="">
							<span class="cover"><span class="more">Ver más &rarr;</span></span>
                            </span>
                            <span class="title">VUELOSAPP | CULMINADO</span>
                        </a>

                        <h4></h4>
                        <p></p>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <a class="thumbnail">
                            <span class="img">
                            <img src="assets/images/ac.png" alt="">
                            <span class="cover"><span class="more">Ver más &rarr;</span></span>
                            </span>
                            <span class="title">Arroz del Cielo | CULMINADO</span>
                        </a>

                        <h4></h4>
                        <p></p>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <a class="thumbnail" href="https://appfacturacion.netlify.app/">
                            <span class="img">
							<img src="assets/images/ventas.png" alt="">
							<span class="cover"><span class="more">Ver más &rarr;</span></span>
                            </span>
                            <span class="title">VENTASAPP | CULMINADO</span>
                        </a>

                        <h4></h4>
                        <p></p>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <a class="thumbnail" href="https://logistrip.co/">
                            <span class="img">
							<img src="assets/images/logis.png" alt="">
							<span class="cover"><span class="more">Ver más &rarr;</span></span>
                            </span>
                            <span class="title">LOGISTRIP | CULMINADO</span>
                        </a>

                        <h4></h4>
                        <p></p>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <a class="thumbnail">
                            <span class="img">
							<img src="assets/images/crm.png" alt="">
							<span class="cover"><span class="more">Ver más &rarr;</span></span>
                            </span>
                            <span class="title">WISECRM | EN CURSO</span>
                        </a>

                        <h4></h4>
                        <p></p>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <a class="thumbnail">
                            <span class="img">
							<img src="assets/images/andro.png" alt="">
							<span class="cover"><span class="more">Ver más &rarr;</span></span>
                            </span>
                            <span class="title">ANDROMEDA COMPANY | CULMINADO</span>
                        </a>

                        <h4></h4>
                        <p></p>
                    </div>
                </div>

            </div>
            <!-- /section -->


            <!-- /section -->

            <div class="row section clients topspace">
                <h2 class="section-title"><span>He trabajado para algunas Empresas como:</span></h2>
                <div class="col-lg-12">
                    <p>
                        <a href="https://infodeclat.com/"><img url="https://infodeclat.com/" src="assets/images/infodec.png" class="zoom" style="height: 80px; width: 80px;margin-right: 120px;"></a>
                        <a href="https://genero.feyalegria.org/"><img src="assets/images/fe.png" class="zoom" style="height: 80px; width: 80px;margin-right: 120px;"></a>
                        <a href="https://inconcertcc.com/"><img src="assets/images/inconcert.png" class="zoomicon" style="height: 190px; width: 190px;margin-right: 120px;"></a>
                        <a href="https://digitalware.com.co/"><img src="assets/images/dw.png" class="zoomicon" style="height: 80px; width: 190px;margin-right: 120px;"></a>
                        <a href="https://logistrip.co/"><img src="assets/images/gl.png" class="zoom" style="height: 80px; width: 120px;"></a>
                    </p>
                </div>
            </div>
            <!-- /section -->

        </div>
        <!-- /container -->

    </main>

    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 widget">
                    <h3 style="font-size: larger;" class="widget-title">Contact</h3>
                    <div class="widget-body">
                        <p style="font-size: medium;">+57 318 542 3769<br>
                            <a href="mailto:#">camilonavis@hotmail.com</a><br>

                        </p>
                    </div>
                </div>


                <div class="col-md-3 widget">

                </div>

                <div class="col-md-3 widget">

                </div>
                <div class="col-md-3 widget">
                    <p style="font-size: large;" class="widget-title">Follow me</p>
                    <div class="widget-body">
                        <p class="follow-me-icons">
                            <a href="https://github.com/camilobellnavis"><i class="fa fa-github fa-2 zoomicon"></i></a>
                            <a href="https://www.linkedin.com/in/camilo-bellnavis-475a78139/"><i class="fa fa-linkedin fa-2 zoomicon"></i></a>
                        </p>
                    </div>
                </div>

            </div>
            <!-- /row of widgets -->
        </div>
    </footer>

    <footer id="underfooter">
        <p style="text-align: center;">Cali - Valle del Cauca. All rights reserved</p>
    </footer>



    <!-- JavaScript libs are placed at the end of the document so the pages load faster -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="assets/js/template.js"></script>
</body>